language: python

jobs:
  include:
    - python: "3.7"
    - python: "3.8"
    - python: "nightly"
  allow_failures:
    - python: "nightly"

install:
  - pip install pipenv
  - pipenv install --dev

script:
  - pipenv run lint
  - pipenv run test
