[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
kodistubs = "~=19.0.1"
pycodestyle = "*"

[packages]
requests = "~=2.22.0"

[requires]
python_version = "3"

[scripts]
build = "python scripts/build.py"
lint = "pycodestyle --max-line-length=99 --statistics resources"
test = "python -m unittest discover"
