<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30001">
        <setting id="search.items.size" type="labelenum" label="30002" values="5|10|15|20|25|30|40|50" default="20" />
        <setting id="search.history.size" type="labelenum" label="30003" values="0|5|10|15|20|30|50" default="10" />
        <setting id="audio.format" type="enum" label="30004" values="opus (audio/ogg)|mp3 (audio/mpeg)" default="opus (audio/ogg)" />
    </category>
</settings>
